{{#section 'css'}}
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/util.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
<script
src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>
$('#txtDOB').datetimepicker({
    // format: 'd/m/Y H:i'
    format: 'd/m/Y',
    timepicker: false,
    mask: true,
});
</script>
{{/section}}

<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-30 p-b-30">
			<form class="login100-form validate-form" method="POST">
				<span class="login100-form-title p-b-10">
					Thay đổi mật khẩu
				</span>
				{{#if err_message}}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					{{err_message}}
				</div>
				{{/if}}
				<div class="row">
					<div class="row">
						<div class="form-group">
							<div class="col-sm-12">
								<input type="password"
								class="form-control" name="current_password" id="current_password" style="width: 420px;" placeholder="Mật khẩu hiện tại">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-sm-12">
								<input type="password"
								class="form-control" name="raw_password" id="raw_password" style="width: 420px;" placeholder="Mật khẩu mới">
							</div>
						</div>
					</div>					
					<div class="row">
						<div class="form-group">
							<div class="col-sm-12">
								<input type="password"
								class="form-control" name="repass" id="repass" style="width: 420px;" placeholder="Xác nhận mật khẩu">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<button id="Success" type="submit" class="btn btn-primary btn-lg btn-block">Thay đổi mật khẩu</button>
				</div>
			</form>
		</div>
	</div>
</div>



