{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.7/css/fileinput.min.css">
{{/section}}


{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/themes/fa/theme.min.js"></script>
<script>
$('#fuMain').fileinput({
    theme: 'fa',
    dropZoneEnabled: false,
    allowedFileExtensions: ['png', 'jpg', 'gif'],
});
</script>

<script type="text/javascript">
$('#customFileLang').on('change', function () {
        //get the file name
        var fileName = $(this).val();
        //replace the "Choose a file" label
        $(this).next('.custom-file-label').html(fileName);
    });
</script>

<script
src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=ezd73nxbzc7bu6e86g2l82jbbffke0mwevwrnyvc5q8h89j6"></script>
<script>
tinymce.init({
    selector: '#description',
    height: 600,
    plugins: 'paste image link autolink lists table media',
    menubar: false,
    toolbar: [
    'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
    'forecolor backcolor',
    'table link image media',
    ],
});
</script>
{{/section}}
<form method="post" enctype="multipart/form-data">
    <div class="container mb-5">
        <div class="row mt-2 mb-3">
            <h2>Thông tin đăng ký sản phẩm đấu giá</h2>
        </div>
        {{#if err_message}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{err_message}}
        </div>
        {{/if}}
        <!--Product detail-->
        <div class="row ml-5">
            <dl class="dl-horizontal">
                <!--Current Price: giá hiện tại-->
                <dt>
                    <h5>Tên sản phẩm</h5>
                </dt>
                <dd>
                    <input type="text" class="form-control form-control-xs" name="name_pro" id="name_pro" style="width: 700px;" placeholder="Nhập tên sản phẩm">
                </dd>
                <!--Price: giá mua ngay-->
                <dt>
                    <h5>Danh mục</h5>
                </dt>
                <dd>
                    <select type="text" name="id_cat" class="form-control form-control-xs" style="width: 700px;">
                        {{!-- <option value="-1">All Categories</option> --}}
                        <option value="3">Điện thoại</option>
                        <option value="4">Laptop</option>
                        <option value="16">Xe máy</option>
                        <option value="17">Xe ô tô</option>
                    </select> 
                </dd>
                <dt>
                    <h5>Ảnh (chọn 3 ảnh)</h5>
                </dt>
                <dd style="width: 700px">
                    <div class="file-loading">
                        <input id="fuMain" name="fuMain" type="file" class="file" multiple data-show-upload="false"
                        data-show-caption="true" accept="image/*"
                        data-msg-placeholder="Select {files} for upload...">
                    </div>
                </dd>
                <!--Description: Thông tin người bán và điểm đánh giá-->
                <dt>
                    <h5>Giá khởi điểm</h5>
                </dt>
                <dd>
                    <input type="number" class="form-control form-control-xs" name="current_price" id="current_price"
                    style="width: 700px;" placeholder="Nhập giá sản phẩm">
                </dd>
                <dt>
                    <h5>Bước giá</h5>
                </dt>
                <dd>
                    <input type="number" class="form-control form-control-xs" name="buocGia" id="buocGia"
                    style="width: 700px;" placeholder="Nhập bước giá">
                </dd>
                <dt>
                    <h5>Giá mua ngay</h5>
                </dt>
                <dd>
                    <input type="number" class="form-control form-control-xs" name="buynow_price" id="buynow_price"
                    style="width: 700px;" placeholder="Nhập giá mua ngay">
                </dd>
                <dt>
                    <h5>Mô tả sản phẩm</h5>
                </dt>
                <dd>
                    <textarea class="form-control" id="description" name="description" style="width: 700px;"
                    placeholder="Nhập mô tả"></textarea>
                </dd>
                <dt>
                    <h5>Tự động gia hạn</h5>
                </dt>
                <dd>
                    {{!-- <input class="form-check-input" type="checkbox" value="1" name="extend" id="extend">
                    <label>
                        Có
                    </label> --}}
                    <div class="form-check">
                        <div>
                            <input type="radio" name="extend" value="1" id="">Có
                        </div>
                        <div>
                            <input type="radio" name="extend" value="0" id="">không
                        </div>
                    </div>
                </dd>
            </dl>
            <button class="btn btn-success btn-block" type="submit">
                Đăng bán
            </button>
        </div>
        <!--Add to cart-->
    </div>
</form>